body {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: #FEF2BF;
    background-color: #011F3F;
    text-shadow: 3px 0 #000;
}

#level-title {
    font-size: 3rem;
    margin: 5%;
}

.btn {
    width: 200px;
    height: 200px;
    border-radius: 20%;
    border: 10px solid #000;
    display: inline-block;
    margin: 25px;
}

.game-over {
    background-color: red;
    opacity: 0.8;
}

.container {
    display: block;
    width: 50%;
    margin: auto;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}

.footer {
    margin-top: 5%;
}